*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   flex-direction: column;
}
.navigation-bar{
    position: relative;
    position: fixed;
    top: 0;
    color: #FFF;
    background-color: #00087A;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 10px;
}
.nav-links{
    position: relative;
    margin-right: 5%;
    text-align: center;
    display: block;
}
.basketInfo{
    position: relative;
    top: -36px;
    right: 14px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;    
}
.info{
    font-size: 10px;
    font-weight: bold;
}
ul{
    display: flex;
    gap: 50px;
}
li{
    list-style: none;
    font-size: 1.3rem;
    font-weight: bolder;
}
.shopping-tag{
    margin-left: 40px;
    display: block;
}

.mobile-navigation{
    background-color: #00087A;
    height: 100vh;
    width: 60%;
    position: absolute;
    top: 0;
    display: none;
    margin-bottom: 10px;
    left: -400px;
    transition: left 0.3s ease;
}
.mobile-navigation.active{
    left: 0px;
}
.close-btn{
    color: #FFF;
    font-size: 1.6rem;
    position: relative;
    left: 150px;
    top: 40px;
}
.mobile-links{
    margin-top: 60%;
    margin-left: 20px;
}
.mobile-links ul{
    display: block;
    color: #FFF;
}
.mobile-links ul li{
    margin-bottom: 40px;
}
.fa-bars{
    font-size: 35px;
    font-weight: bolder;
    margin-left: 10px;
}
.menu-bar{
  position: absolute;
  left: 1px;
  display: none;    
}
.product-container{
    width: 100%;
    max-width: 1300px;
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.products{
    padding: 4px;
    width: 325px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-details{
    width: 100%;
    text-align: left;
}
.product-img{
    width: 100%;
}
.cash{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-btn{
    padding: 8px 26px;
    border: none;
    cursor: pointer;
    background-color: #00087A;
    color: #FFF;
    border-radius: 5px;
    font: bold;
}
.alert{
    position: absolute;
    background-color: rgb(128, 255, 128);
    padding: 20px;
    font-size: 20px;
    top: 70px;
    z-index: 1;
    position: fixed;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    display: none;
}
.alert.active{
    display: block;
}

@media (max-width:780px){
    .mobile-navigation{
        display: block;
        position: fixed;
    }
    .shopping-tag{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .navigation-bar{
        height: 8vh;
        width: 100%;
    }
    .menu-bar{
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.5rem;
    }
    .product-container{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
    .products{
        width: 200px;
    }
    .alert{
        width: 70%;
        top: 70px;
        position: fixed;
        font-size: 20px;
    }
}